body, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: Roboto, sans-serif;
  padding: 0;
}
ul {
  list-style: none;
}

* {
  text-shadow: none;
  color: black;
}

.site {
  background: #F4C66F;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 800px;
  width: 100%;
}
.card {
  margin-top: 100px;
  width: 930px;
  height: 520px;
  box-shadow: 0 45px 50px -35px rgba(0,0,0,.4);
  position: relative;
  display: flex;
  overflow: hidden;
}

.left {
  width: calc(36% + 1px);
  background: #eee;
  position: relative;
}
.right {
  background: white;
  width: 64%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.right .head {
  border-bottom: 1px solid #ccc;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
}
.head h1 {
  font-size: 24px;
  font-weight: normal;
}
.head .plus-button {
  border: none;
  background: transparent;
  font-size: 38px;
  line-height: 28px;
  font-weight: normal;
  padding: 0;
}
.head .amount {
  font-size: 30px;
  font-weight: bold;
}

.payment-methods {
  padding: 0 30px 0 40px;
  height: 100%;
}
.method {
  background: white;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  letter-spacing: -0.3px;
  margin: 30px 0;
}
.method:nth-child(2) {
  margin: 0;
}
.method.active,
.method:hover {
  box-shadow: 0 0 0 2px #6178bd;
}
.method .card-number {
  font-size: 18px;
  margin-bottom: 5px;
}
.method .expiration {
  font-size: 15px;
}
.method .card-number, .method .expiration,
.method .card-number span, .method .expiration span { color: #555; }
.method img {
  width: 70px;
  margin-bottom: 15px;
}

.payments {
  padding: 0 40px 0 50px;
}
.payments .cents {
  font-size: .65em;
  position: relative;
  top: -.5em;
}

.expense .amount, .expense .amount .cents { color: #7E8BB6; }
.income .amount, .income .amount .cents{ color: #A2DB80; }

.payment {
  display: flex;
  align-items: center;
  padding-top: 50px;
  position: relative;
}
.payment:last-child { padding-bottom: 50px; }
.payment:before {
  content: '';
  border-radius: 50%;
  border: 1px solid #bbb;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: lighter;
}
.payment.expense:before { content: '–'; }
.payment.income:before { content: '+'; }
.payment .amount {
  font-weight: bolder;
  font-size: 19px;
  position: absolute;
  right: 0;
}
.payment .info {
  position: relative;
  left: 40px;
}
.payment .info .description {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
.payment .info .reference,
.payment .info .date {
  color: #bbb;
  font-size: 15px;
  font-weight: bold;
}

/*  customize scrollbar */
.custom-scroll::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
.custom-scroll:hover {
  color: rgba(0, 0, 0, 0.5);
}
.custom-scroll {
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 black;
  overflow-y: scroll;
}
/*  end customize scrollbar*/
