.body-copy.dash {
  position: relative;
  padding-left: 30px;
}
.body-copy.dash::before {
  content: '';
  position: relative;
  border-left: 2px solid #aaa;
  left: 0;
  position: absolute;
  height: 100%;
}
