.cta {
  min-width: 80px;
  background-color: #EA625C;
  color: white;
  border: 0;
  padding: 12px 20px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.cta:hover {
  background-color: #D9514D;
}
