.header {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 90%;
  padding: 40px 0;
  position: absolute;
  transform: translate3d(-50%,0,0);
  left: 50%;
  z-index: 4;
}

.header .logo a {
  line-height: 24px;
}
.header .logo img {
  width: 24px;
}

.header .navbar {
  display: flex;
  align-items: center;
}

.header .navbar li {
  margin-left: 35px;
}

.header .navbar a {
  color: #aaa;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.header .navbar a:hover,
.header .navbar .active a {
  color: #777;
}
.header .navbar a:hover::after,
.header .navbar .active a::after {
  content: '';
  border-bottom: 2px solid currentColor;
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
}

.header .navbar input.search {
  border: 0;
  border-bottom: 1px solid #777;
  outline: 0;
  padding-bottom: 3px;
  background: transparent;
}

@media (max-width: 600px) {
  .header {
    position: relative;
    left: 0;
    transform: none;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
  }

  .header .navbar {
    display: none;
  }
}
