.text-on-background.watch {
  background: url(../img/watches.jpg) 135%/45% 100% no-repeat;
}

.text-on-background.border {
  border-bottom: 1px solid #ddd;
}

.text-on-background {
  height: 580px;
  position: relative;
}

.text-on-background .wrapper {
  width: 900px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 90px;
}
.text-on-background .heading {
  margin-bottom: 50px;
}
.text-on-background .body-copy {
  width: 42%;
  position: relative;
  padding-left: 30px;
}
.text-on-background .body-copy::before {
  content: '';
  position: relative;
  border-left: 2px solid #aaa;
  left: 0;
  position: absolute;
  height: 100%;
}
.text-on-background .cta {
  margin-top: 40px;
}
