.text-and-image {
  height: 720px;
  position: relative;
  display: flex;
  align-items: center;
}

.text-and-image .wrapper {
  width: 900px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}


.text-and-image .left {
  width: 43%;
  margin: auto 0 auto;
}

.text-and-image .right { width: 45%; }

.text-and-image .heading {
  margin-bottom: 50px;
  width: 80%;
}

.text-and-image .cta {
  margin-top: 40px;
}

.text-and-image .right img {
  width: 100%;
}

@media (max-width: 600px) {
  .text-and-image {
    height: auto;
  }

  .text-and-image .wrapper {
    flex-direction: column-reverse;
    padding: 20px 10% 50px;
  }

  .text-and-image .left,
  .text-and-image .right {
    width: auto;
    text-align: center;
  }

  .text-and-image .heading {
    margin: 30px 0;
    width: auto;
  }

  .text-and-image .body-copy {
    padding-left: 0;
  }

  .text-and-image .body-copy.dash::before {
    display: none;
  }
}
