.text-and-image {
  height: 720px;
  position: relative;
  display: flex;
  align-items: center;
}

.text-and-image .wrapper {
  width: 900px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}


.text-and-image .left {
  width: 43%;
  margin: auto 0 auto;
}

.text-and-image .right { width: 45%; }

.text-and-image .heading {
  margin-bottom: 50px;
  width: 80%;
}

.text-and-image .cta {
  margin-top: 40px;
}

.text-and-image .right img {
  width: 100%;
}
