.text-on-background.watch {
  background: url(../img/watches.jpg) 135% 100% no-repeat;
  background-size: 45%;
}
.text-on-background.runners {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/runners.jpg) 50% 40% no-repeat;
  background-size: 100% 142%;
}
.text-on-background.light-text .heading { color: white; }
.text-on-background.light-text .body-copy { color: white; }
.text-on-background.light-text .body-copy::before { border-color: white; }

.text-on-background .right,
.text-on-background .left {
  width: 42%;
}
.text-on-background .right {
  position: absolute;
  right: 0;
}

.text-on-background.border {
  border-bottom: 1px solid #ddd;
}

.text-on-background {
  height: 720px;
  position: relative;
  display: flex;
}

.text-on-background .wrapper {
  width: 900px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.text-on-background .heading {
  margin-bottom: 50px;
}
.text-on-background .body-copy {
  position: relative;
  padding-left: 30px;
}
.text-on-background .body-copy::before {
  content: '';
  position: relative;
  border-left: 2px solid #aaa;
  left: 0;
  position: absolute;
  height: 100%;
}
.text-on-background .cta {
  margin-top: 40px;
}
