.three-column-text {
  display: flex;
  width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}

.three-column-text .column-text {
  width: 33%;
  padding: 0 35px;
}
.three-column-text .column-text:first-child { padding-left: 0; }
.three-column-text .column-text:last-child { padding-right: 0; }

.three-column-text .column-text .headline {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 40px;
}

.three-column-text .column-text .body-copy {
  color: #555;
  font-size: 13px;
  line-height: 24px;
  position: relative;
}

.three-column-text .column-text .dots::after {
  content: '';
  position: absolute;
  background: transparent;
  width: 4px;
  height: 4px;
  bottom: -20px;
  left: -10px;
  box-shadow:
    10px 0 0 #ccc,
    24px 0 0 #ccc,
    38px 0 0 #ccc;
}

.three-column-text .column-text .link {
  color: #EA625C;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: -0.5px;
  text-decoration: none;
  text-transform: uppercase;
}
.three-column-text .column-text .link::before {
  content: '';
  display: inline-block;
  border-bottom: 2px solid currentColor;
  width: 30px;
  margin-bottom: 4px;
  margin-right: 16px;
  transition: width .2s;
}

.three-column-text .column-text .link:hover::before {
  width: 40px;
}

@media (max-width: 600px) {
  .three-column-text {
    width: auto;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px 10% 0;
  }

  .three-column-text .column-text {
    width: auto;
    padding: 0 0 50px;
  }

  .three-column-text .column-text .headline {
    margin-bottom: 20px;
  }
}
