.heading {
  font-size: 40px;
  color: #333;
}

.body-copy {
  color: #aaa;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

@media (max-width: 600px) {
  .heading {
    font-size: 28px;
  }

  .body-copy {
    font-size: 12px;
  }
}
