* {
  margin: 0;
  font-family: Roboto, sans-serif;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #B884E5, #7B81E0) no-repeat;
}

ul { list-style: none; }

.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
}

.container {
  width: 300px;
  margin-top: 100px;
  box-shadow: 0 5px 25px 2px rgba(0,0,0, 0.3);
  border-radius: 3px;
  background: linear-gradient(to bottom right, #B273D0, #826AC2) no-repeat;
  color: white;
}

.tab .icon {
  background-color: #b4b4b4;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px; 
}
.tab .icon::before {
  content: '';
  height: 20px;
  position: absolute;
  border-right: 2px solid #B4B4B4;
  top: 0;
}
.tab.expanded .icon {
  background-color: white;
}
.tab.expanded .icon::before {
  height: 40px;
  border-right-color: white;
}
.tab:not(.expanded) .icon::after {
  content: '';
  height: 20px;
  position: absolute;
  border-right: 2px solid #B4B4B4;
  bottom: 0;
}
.tab .icon > img {
  height: 14px;
}
.tab.expanded .arrow {
  position: absolute;
  right: 15px;
}
.tab.expanded .header {
  padding: 40px 15px 20px;
  color: white;
}
.tab .header {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  position: relative;
  color: #B4B4B4;
}
.tab .content {
  background-color: #554872;
  padding: 20px 15px;
  position: relative;
}
.content .item {
  padding: 12px;
  cursor: pointer;
  position: relative;
}
.content::before {
  content: '';
  height: 20px;
  position: absolute;
  border-right: 2px solid #A69EB6;
  top: 0;
  left: 26px;
}
.content::after {
  content: '';
  height: 20px;
  position: absolute;
  border-right: 2px solid #A69EB6;
  bottom: 0;
  left: 26px;
}
.content .item::before {
  content: '';
  height: 15px;
  position: absolute;
  border-right: 2px solid #A69EB6;
  left: 11px;
  top: -8px;
}
.content .item::after {
  content: '';
  height: 15px;
  position: absolute;
  border-right: 2px solid #A69EB6;
  bottom: -8px;
  left: 11px;
}
.content .item span {
  padding-left: 15px;
  color: #D8CADD;
}
.content .item span:hover {
  color: #F3F3F4;
}
.content .item span::before {
  content: '';
  position: absolute;
  left: 8.5px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
}